<!doctype html>
<title>Contributions detail</title>
<h1>Contributions from {{ employer.name }} employees to {{ candidate.name }}</h1>
<table style="border-spacing: 50px 0;">
    <tr>
        <th>Contributor name</th>
        <th>City</th>
        <th>State</th>
        <th>Occupation</th>
        <th>Amount</th>
    </tr>
    {% for (contributor, amount) in flagged_individual_contributions %}
    <tr>
        <td>{{contributor.name}}</td>
        <td>{{contributor.city}}</td>
        <td>{{contributor.state}}</td>
        <td>{{contributor.occupation}}</td>
        <td>{{amount}}</td>
    </tr>
    {% endfor %}
</table>
