<!doctype html>
<title>{{ candidate.name }}</title>
<h1>{{ candidate.name }}</h1>
<h2>Committees</h2>
<ul>
    {% for committee in candidate.committees %}
        <li>{{ committee.name }}</li>
    {% endfor %}
</ul>
{% if flagged_individual_contributions %}
<h2>Flagged Individual Contributions</h2>
<table style="border-spacing: 50px 0;">
    <tr>
        <th>Contributor</th>
        <th>City</th>
        <th>Employer</th>
        <th>Occupation</th>
        <th>Amount</th>
    </tr>
    {% for contributor, amount in flagged_individual_contributions %}
        <tr>
            <td>{{contributor.name}}</td>
            <td>{{contributor.city}}, {{contributor.state}}</td>
            <td>{{contributor.employer}}</td>
            <td>{{contributor.occupation}}</td>
            <td><a href="{{url_for('handlers.flagged_individual_contribution_detail', candidate_id=candidate.id, contributor_id=contributor.id)}}">{{amount}}</a></td>
        </tr>
    {% endfor %}
</table>
{% else %}
<i>No flagged individual contributions</i>
{% endif %}