<!doctype html>
<title>Flagged Individual Contributors</title>
<h1>Flagged Individual Contributors</h1>
{% for employer, contributors in flagged_contributors_by_employer %}
<h2>{{ employer }}</h2>
<ul>
{% for contributor in contributors %}
    <li style="margin-bottom:2cm">
        {{contributor.name}} &mdash; {{contributor.occupation}}
        <h4>Appears as:</h4>
        <table style="border-spacing: 50px 0;">
            <tr>
                <th>Name</th>
                <th>Employer</th>
                <th>Occupation</th>
                <th>City</th>
                <th>State</th>
                <th>ZIP</th>
            </tr>
            {% for alias in contributor.aliases %}
            <tr>
                <td>{{alias.name}}</td>
                <td>{{alias.employer}}</td>
                <td>{{alias.occupation}}</td>
                <td>{{alias.city}}</td>
                <td>{{alias.state}}</td>
                <td>{{alias.zip}}</td>
            </tr>
            {% endfor %}
        </table>
        <ul>
        </ul>
    </li>
{% endfor %}
</ul>
{% endfor %}
