<!doctype html>
<title>{{state}} {{year}}</title>
<h1>{{state}} {{year}}</h1>
<h2>Senate Candidates</h2>
<ul>
    {% for candidate in senate_candidates %}
    <li>
        <a href="{{url_for('handlers.candidate_summary', candidate_id=candidate.id)}}">
            {{ candidate.name }}
        </a>
    </li>
    {% endfor %}
</ul>
<h2>Congressional districts</h2>
<ul>
    {% for (district, candidates) in candidates_by_district %}
    <li>
        {{ district }}
        <ul>
            {% for candidate in candidates %}
            <li>
                <a href="{{url_for('handlers.candidate_summary', candidate_id=candidate.id)}}">
                    {{ candidate.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
